<h1>MY SUPER COOL LISTS</h1>

<hr>

<ul>
  <% @lists.each do |list| %>
    <li><%=link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= link_to "Delete a bookmark" %> </li>
  <% end %>
</ul>
